body {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  margin: auto;
}

#delete-book {
    width: 150px;
    margin: auto;
    background-color: rgb(147, 233, 147);
    color: rgb(6, 83, 6);
    border: 1px solid black;

}
#delete-button-container{
    
    margin: auto;
    text-align: center;
}
#delete-book:hover {
    background-color: rgb(195, 240, 195);
    color: rgb(108, 108, 108);
}

header,
main,
footer {
    width: 100%;

  margin: auto;
}
@media only screen and (min-width: 751px) {
    #container {
        width: 70%;
      }

}
@media only screen and (max-width: 750px) {
  #container {
    width: 100%;
  }


}
