.required:after
{
    color: red;
    content: " *";
}

#add-book-form {
  width: 100%;
}



.add-input {
    height: 30px;
    display: block;
    width: 100%;
}

#read-field {
    text-align: center;
    margin: auto;
}

#read-field input {
    border-radius: 50%;
}

.form-required {
  border: 3px solid red !important;
}



/* 
label {
   
}

input {
    width: 100%;
    margin:auto;
}



fieldset label {
}
 */
