header img {
  float: left;
}

header {
  height: 100px;
}

header ul {
  list-style-type: none;
}

header li {
  padding-left: 10px;
}

nav input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}
nav button {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  margin: 5px auto;
}

#logo:hover {
  opacity: 0.8;
}

nav a,
#search-button, #delete-book {
  text-decoration: none;
  background-color: rgb(147, 233, 147);
  padding: 10px;
  border-radius: 20px;
  color: rgb(6, 83, 6);
}

nav a:hover,
#search-button:hover {
  background-color: rgb(195, 240, 195);
  color: rgb(108, 108, 108);
}

footer {
  text-align: center;
  color: grey;
}

@media only screen and (min-width: 601px) {
  header img {
    width: 100px;
  }

  header li {
    display: inline;
  }
  nav li:last-child {
    float: right;
  }
  footer {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  header img {
    width: 75px;
  }

  header li {
    display: block;
    margin-top: 30px;
  }
  nav li:last-child {
    float: right;
    width: 100px;
    position: absolute;
    top: 10px;
    right: 100px;
    padding: 0px;
    margin: 0px;
  }
  footer {
    font-size: 2vw;
    margin-top: 20px;
  }
}
