header {
  width: 100%;
  height: auto;
}

header img {
  width: 100px;
}

header ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}



#logo:hover {
  opacity: 0.8;
}

nav a,
#delete-book {
  text-decoration: none;
  color: rgb(6, 83, 6);
}

nav a:hover {
  background-color: rgb(195, 240, 195);
  color: rgb(108, 108, 108);
}

footer {
  text-align: center;
  color: grey;
}

@media only screen and (min-width: 751px) {

 
  header {
    height: 100px;
  }

  header li {
    display: inline;
    margin: 10px;
  }

  nav a:hover  {
    background-color: rgb(195, 240, 195);
    color: rgb(108, 108, 108);
  }

  nav a,
  #delete-book {
    text-decoration: none;
    background-color: rgb(147, 233, 147);
    padding: 10px;
    border-radius: 20px;
    color: rgb(6, 83, 6);
  }


  header img {
    float: left;
    display: inline;
  }

  footer {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 750px) {
  .hidden {
    display: none;
  }

  nav input {
    padding: 5px;
  }

  header img {
    display: none;
  }

  nav {
    background-color: rgb(195, 240, 195);
    padding: 5px;
    border-radius: 5px;
  }

  nav a {
    padding: 3px;
  }

  nav li {
    padding: 5px;
    border-bottom: 1px solid green;
  }

  nav li:last-child {
    border: 0px;
  }




  footer {
    font-size: 2vw;
    margin-top: 20px;
  }
}
