table {
  text-align: left;
  border-collapse: collapse;
}

th {
  background: rgb(93, 154, 93);
  color: white;
}

td {
  padding: 5px;
}

tr:nth-child(odd) {
  background: rgb(237, 255, 237);
}

.hidden {
  display: none;
}

table a {
  color: black;
}
table a:hover {
  color: rgb(56, 100, 56);
}



@media only screen and (min-width: 751px) {
  table {
  width: 100%;
  margin: auto;
  }
  th {
  padding: 10px;

  }
}

@media only screen and (max-width: 750px) {
  table {
    font-size: 2.5vw;
    width: 100%;
  }
  th {
  padding: 5px;

  }
  td {
    width: 10%;
  }
}

